<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Address</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- for ios only header  -->
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Address</ion-title>
        </ion-toolbar>
    </ion-header>

    <!--  list all the address -->

    <ion-list>
        <!-- add new address -->
        <ion-item class="add_new_address">
            <ion-icon slot="start" name="location"> </ion-icon>
            <ion-label> <h2>Add new address</h2> </ion-label>

            <ion-button (click)="getCurrentPosition()" slot="end"> <ion-icon name="location"></ion-icon> </ion-button>
            <ion-button (click)="chooseAddress()" slot="end"> <ion-icon name="add"></ion-icon> </ion-button>
        </ion-item>

        <ion-item (click)="addressSelected(address)" [disabled]="address.is_active === 'yes' ? false : true" *ngFor="let address of allAddress; trackBy: tracker">
            <ion-icon slot="start" name="location"> </ion-icon>
            <ion-label class="ion-text-wrap">
                <h2>{{ user_full_name }}</h2>
                <h4>+91 {{ mobile_number }}</h4>
                <p>{{ address.street }}, {{ address.city }}, {{ address.pincode }} , {{ address.state }}, {{ address.country }}</p>
            </ion-label>
            <ion-checkbox [checked]="address.is_selected" slot="end"></ion-checkbox>
        </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button *ngIf="selectedAddress" (click)="goToPayMode()" color="secondary">
            <ion-icon name="arrow-forward-circle"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
