<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title> Order detail</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- for ios only header  -->
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Order detail</ion-title>
        </ion-toolbar>
    </ion-header>

    <div *ngIf="orderDetails">
        <foodbzr-pending-order [order]="orderDetails" *ngIf="orderDetails.delivery_status !== 'canceled' && orderDetails.delivery_status !== 'delivered'"></foodbzr-pending-order>
        <foodbzr-canceled-order [order]="orderDetails" *ngIf="orderDetails.delivery_status === 'canceled'"></foodbzr-canceled-order>
        <foodbzr-delivered-order [order]="orderDetails" *ngIf="orderDetails.delivery_status === 'delivered'"></foodbzr-delivered-order>
    </div>
</ion-content>
