<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Detail</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- for ios only header  -->
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Detail</ion-title>
        </ion-toolbar>
    </ion-header>

    <foodbzr-pending-order></foodbzr-pending-order>
    <!-- <foodbzr-canceled-order></foodbzr-canceled-order> -->
    <!-- <foodbzr-delivered-order></foodbzr-delivered-order> -->
</ion-content>
