.cart_tab {
    position: relative;
}

.number_of_items {
    position: absolute;
    top: 5px;
    right: 5px;
    color: red;
    padding: 4px;
    border-radius: 50%;
    background-color: red;
    color: white;
}
