<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Menu</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- list all the menus to choose from -->
    <ion-list *ngIf="kitchenMenus.length !== 0">
        <ion-item-sliding *ngFor="let menu of kitchenMenus; trackBy: tracker">
            <ion-item>
                <ion-avatar slot="start">
                    <img [src]="menu.menu_profile_picture" [alt]="menu.menu_menu_name" srcset="" />
                </ion-avatar>
                <ion-label class="ion-text-wrap">
                    <h2>{{ menu.menu_menu_name }}</h2>
                    <h5>&#x20B9; {{ menu.final_price }}</h5>
                    <p>
                        <del> &#x20B9; {{ menu.menu_variant_price_per_unit }}</del>
                    </p>
                </ion-label>
                <ion-chip *ngIf="menu.final_offer_percentage !== 0" color="danger" slot="end"> {{ menu.final_offer_percentage }}% OFF </ion-chip>
                <ion-icon (click)="addToCart(menu)" slot="end" name="bag"></ion-icon>
            </ion-item>

            <ion-item-options side="start">
                <ion-item-option (click)="showMenuPics(menu)" color="secondary">
                    <ion-icon slot="icon-only" name="images"></ion-icon>
                </ion-item-option>
            </ion-item-options>

            <ion-item-options side="end">
                <ion-item-option (click)="showComments(menu)" color="warning">
                    <ion-icon slot="icon-only" name="chatbubble-ellipses"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <!-- empty menus -->
    <div *ngIf="can_show_empty_screen" class="empty_screen">
        <div><img src="../../../../assets/icon/box.png" alt="" srcset="" /></div>
        <div>
            <ion-text color="danger"> <h2>Nothing here</h2> </ion-text>
        </div>
        <div>
            <ion-text>
                <p>Looks like it's nothing in here</p>
            </ion-text>
        </div>
    </div>
</ion-content>
