<!-- choose the menu variant -->

<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title color="success"> &#x20B9; {{ totalPrice }} </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()"> <ion-icon name="close-outline"></ion-icon> </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
        <ion-list-header>
            <ion-label> Variants </ion-label>
        </ion-list-header>

        <ion-item (click)="itemSelected(item)" *ngFor="let item of menuSizeVariants; trackBy: tracker">
            <ion-avatar slot="start"><img [src]="item.menu_variant_profile_picture" srcset="" /></ion-avatar>
            <ion-label>
                <h2>{{ item.menu_variant_name }}</h2>
                <h6>&#x20B9; {{ item.final_price }}</h6>
                <p>
                    <del> &#x20B9; {{ item.menu_variant_price_per_unit }} </del>
                </p>
            </ion-label>
            <ion-chip *ngIf="item.final_offer_percentage !== 0" color="danger" size="small" slot="end"> {{ item.final_offer_percentage }}% OFF </ion-chip>
            <ion-checkbox [checked]="item.is_selected" slot="end"></ion-checkbox>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <div class="quantity_adder">
            <ion-fab-button (click)="decreaseAmount()" size="small">
                <ion-icon name="remove"></ion-icon>
            </ion-fab-button>

            <div class="cart_item"><input [(ngModel)]="totalAmount" type="number" name="" id="" /></div>

            <ion-fab-button (click)="increaseAmount()" size="small">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </div>
        <ion-button (click)="addToCart()" slot="end" color="tertiary">Add to cart</ion-button>
    </ion-toolbar>
</ion-footer>
