<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Kitchen</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="kitchen_profile_holder">
        <img [src]="profile_picture" alt="" srcset="" />
        <!-- add to fav -->
        <div class="fav_button">
            <ion-fab-button color="danger">
                <ion-icon name="heart"></ion-icon>
            </ion-fab-button>
        </div>
    </div>

    <!-- name -->
    <div class="kitchen_info">
        <ion-item>
            <ion-icon slot="start" name="restaurant"></ion-icon>
            <ion-label class="ion-text-wrap">
                <h2>{{ kitchen_name }}</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis provident cumque totam.</p>
            </ion-label>
        </ion-item>
    </div>

    <!-- list of the regional food category -->
    <div class="regional_food_cat">
        <ion-list>
            <ion-list-header>
                <ion-label color="secondary"> Choose you love </ion-label>
            </ion-list-header>

            <ion-item (click)="navToMenu(menu_regional)" *ngFor="let menu_regional of kitchen_reg_menus">
                <ion-icon slot="end" name="chevron-forward"></ion-icon>
                <ion-avatar slot="start"><img [src]="menu_regional.profile_picture" alt="" /></ion-avatar>
                <ion-label>
                    <h2>{{ menu_regional.name }}</h2>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
