.kitchen_profile_holder {
    position: relative;
}

.fav_button {
    padding: 0px 15px 0px 0px;
    position: absolute;
    right: 0;
    bottom: -20px;
    z-index: +2;
}

.regional_food_cat {
    margin: 20px 0px;
}
