<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-item slot="start">
            <ion-icon slot="start" name="location"></ion-icon>
            <ion-label> <h4>Lorem ipsum dolor sit amet consectetur</h4> </ion-label>
        </ion-item>
        <ion-buttons slot="end">
            <ion-button (click)="navSearch()"> <ion-icon name="search"></ion-icon> </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- foods menus that you may like -->
    <div class="suggested_menus">
        <ion-list>
            <ion-list-header>
                <ion-text><h4>Food trending near you</h4></ion-text>
            </ion-list-header>
            <ion-grid>
                <ion-row>
                    <ion-col *ngFor="let item of trendingMenus" size="4" size-sm="4">
                        <div (click)="navToKitchenSearchPage(item)" class="menu_sugg">
                            <ion-avatar><img [src]="item.menu_profile_picture" alt="" /></ion-avatar>
                            <ion-text color="dark">
                                <p>{{ item.menu_name }}</p>
                            </ion-text>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list>
    </div>

    <!-- found kitchens -->
    <div class="found_kitchens">
        <ion-list>
            <ion-list-header>
                <ion-text color="secondary"
                    ><h4>{{ foundKitchens.length }} kitchens found near you</h4></ion-text
                >
            </ion-list-header>

            <ion-item *ngFor="let kitchen of foundKitchens">
                <ion-card (click)="navKitchenPage(kitchen)">
                    <img [src]="kitchen.profile_picture" />
                    <ion-card-header>
                        <ion-card-subtitle>{{ kitchen.street }}, {{ kitchen.city }}, {{ kitchen.pincode }}, {{ kitchen.state }}, {{ kitchen.country }}</ion-card-subtitle>
                        <ion-card-title>{{ kitchen.kitchen_name }}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content> </ion-card-content>
                </ion-card>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
