ion-item {
    --background: var(--ion-color-light)
}

.profile_header {
    padding: 20px 0px;
    background-color: var(--ion-color-light);
    position: relative;
}

.file_chooser {
    position: absolute;
    bottom: -25px;
    right: 0;
    padding: 0px 20px;
    z-index: +2;
}
