<!-- kitchen image -->
<div class="kitchen_img">
    <img [src]="order.kitchen_profile_picture" alt="" srcset="" />
</div>

<ion-item>
    <ion-avatar slot="start"> <img src="../../../../../assets/icon/chef.png" alt="" srcset="" /> </ion-avatar>
    <ion-label class="ion-text-wrap">
        <h2>{{ order.kitchen_name }}</h2>
        <p>{{ order.kitchen_address }}</p>
    </ion-label>
</ion-item>

<!-- user info -->

<!-- details -->
<ion-card>
    <ion-card-header>
        <ion-card-subtitle *ngIf="order.food_order_pay_status === 'pending'" color="danger">{{ order.food_order_pay_type }} ({{ order.food_order_pay_status }})</ion-card-subtitle>
        <ion-card-subtitle *ngIf="order.food_order_pay_status === 'paid'" color="success">{{ order.food_order_pay_type }} ({{ order.food_order_pay_status }})</ion-card-subtitle>
        <ion-card-title>&#x20B9; {{ order.food_order_amount_paid }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <!-- list order info -->
        <ion-item>
            <ion-label>
                <h2>#{{ order.food_order_row_id }}</h2>
                <p>Order id</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>{{ order.food_order_row_uuid }}</h2>
                <p>Transaction id</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>{{ order.food_order_date_created | date: 'medium' }}</h2>
                <p>Datetime</p>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <h2>{{ order.food_order_delivery_status }}</h2>
                <p>Order status</p>
            </ion-label>
        </ion-item>
    </ion-card-content>
</ion-card>

<ion-card>
    <ion-card-header>
        <ion-card-title>User</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-item>
            <ion-avatar slot="start"><img [src]="order.user_profile_picture" alt="" srcset="" /></ion-avatar>
            <ion-label class="ion-text-wrap">
                <h2>{{ order.user_full_name }}</h2>
                <p>{{ order.user_mobile_number }}</p>
                <p>{{ order.delivery_address }}</p>
            </ion-label>
            <ion-chip (click)="callDBoy(order.user_mobile_number)" outline color="secondary">
                <ion-icon name="call"></ion-icon>
                <ion-label>Call</ion-label>
            </ion-chip>
        </ion-item>
    </ion-card-content>
</ion-card>

<ion-card *ngIf="order.dboy_row_uuid">
    <ion-card-header>
        <ion-card-title>Delivery boy</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-item>
            <ion-avatar slot="start"><img [src]="order.dboy_profile_picture" alt="" srcset="" /></ion-avatar>
            <ion-label class="ion-text-wrap">
                <h2>{{ order.dboy_full_name }}</h2>
                <p>{{ order.dboy_mobile_number }}</p>
            </ion-label>
            <ion-chip (click)="callDBoy(order.dboy_mobile_number)" outline color="secondary">
                <ion-icon name="call"></ion-icon>
                <ion-label>Call</ion-label>
            </ion-chip>
        </ion-item>
    </ion-card-content>
</ion-card>

<ion-list>
    <ion-list-header>
        <ion-label color="secondary"> Menus </ion-label>
    </ion-list-header>

    <ion-item *ngFor="let item of order.food_order_order_menu">
        <ion-avatar slot="start"><img src="../../../../../assets/icon/order-food.png" alt="" srcset="" /></ion-avatar>
        <ion-label class="ion-text-wrap">
            <h2>{{ item.menu_row_name }} ({{ item.menu_size_variant_name }})</h2>
            <p>
                <b>Instruction: </b> <code>{{ item.cooking_instruction }}</code>
            </p>
            <ion-chip outline color="warning">
                <ion-icon name="restaurant"></ion-icon>
                <ion-label>{{ item.amount }} items</ion-label>
            </ion-chip>
        </ion-label>
    </ion-item>
</ion-list>
