<ion-header translucent>
    <ion-toolbar>
        <ion-title>Choose delivery boy</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-list *ngIf="allDboys.length !== 0">
        <ion-item (click)="updateDboy(dboy)" *ngFor="let dboy of allDboys; trackBy: tracker">
            <ion-avatar slot="start">
                <img [src]="dboy.profile_picture" [alt]="dboy.full_name" srcset="" />
            </ion-avatar>
            <ion-label>{{ dboy.full_name }}</ion-label>
            <ion-checkbox slot="end" [checked]="dboy.is_selected"></ion-checkbox>
        </ion-item>
    </ion-list>
</ion-content>
