<ion-list>
    <ion-list-header>
        <ion-label color="secondary"> Comments </ion-label>
    </ion-list-header>

    <ion-item-sliding *ngFor="let review of allReviews; trackBy: tracker">
        <ion-item>
            <ion-avatar slot="start">
                <img [src]="review.profile_picture" alt="" />
            </ion-avatar>
            <ion-label text-wrap>
                <h2>{{ review.full_name }}</h2>
                <ion-text color="warning">
                    <h5>{{ review.date_created | date: 'short' }}</h5>
                </ion-text>
                <p>{{ review.review }}</p>
            </ion-label>
        </ion-item>
    </ion-item-sliding>
</ion-list>
