<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Search result</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- found kitchen serving the menus -->

    <ion-list>
        <ion-list-header *ngIf="foundKitchens.length !== 0">
            <ion-label color="secondary">
                Found {{ foundKitchens.length }} kitchen serving the menu <b> {{ menu_name }} </b>
            </ion-label>
        </ion-list-header>

        <ion-item lines="full" (click)="navKitchenPage(item)" *ngFor="let item of foundKitchens">
            <ion-card>
                <img [src]="item.profile_picture" />
                <ion-card-header>
                    <ion-card-subtitle>{{ item.address }}</ion-card-subtitle>
                    <ion-card-title>{{ item.kitchen_name }}</ion-card-title>
                </ion-card-header>
                <ion-card-content> </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>
</ion-content>
