<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-searchbar #searchTerm debounce="500" (ionChange)="search(searchTerm.value)"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list *ngIf="searchResult.length !== 0">
        <ion-list-header>
            <ion-label color="secondary"> Search result </ion-label>
        </ion-list-header>

        <ion-item (click)="showOrderFullDetail(item)" *ngFor="let item of searchResult">
            <ion-avatar slot="start"> <img [src]="item.kitchen_profile_picture" alt="" srcset="" /> </ion-avatar>
            <ion-label>
                <h2>Order id #{{ item.food_order_row_id }}</h2>
            </ion-label>
            <ion-chip *ngIf="item.food_order_delivery_status === 'delivered'" color="success" slot="end">
                <ion-label> {{ item.food_order_delivery_status }} </ion-label>
            </ion-chip>
            <ion-chip *ngIf="item.food_order_delivery_status === 'canceled'" color="danger" slot="end">
                <ion-label> {{ item.food_order_delivery_status }} </ion-label>
            </ion-chip>
        </ion-item>
    </ion-list>

    <!--  nothing found -->
    <div *ngIf="searchResult.length === 0" class="nothing_found">
        <div><img src="../../../../assets/icon/box.png" alt="" srcset="" /></div>
        <div>
            <ion-text color="danger"> <h4>Nothing found</h4> </ion-text>
        </div>
    </div>
</ion-content>
