<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- profile cards -->
    <div *ngIf="userDetails" class="user_profile">
        <div>
            <ion-avatar><img [src]="userDetails.profile_picture" alt="" srcset="" /></ion-avatar>
        </div>
        <div>
            <h3>{{ userDetails.full_name }}</h3>
        </div>
        <div>
            <ion-text>+91 {{ userDetails.mobile_number }}</ion-text>
        </div>
        <div>
            <div><b>4500</b></div>
            <div>foodbzr coin</div>
        </div>
    </div>

    <!-- account info -->
    <ion-list *ngIf="userDetails">
        <ion-list-header>
            <ion-label color="secondary"> Account </ion-label>
        </ion-list-header>

        <ion-item (click)="updateName()">
            <ion-label>
                <h2>{{ userDetails.full_name }}</h2>
                <p>Full Name</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                <h2>{{ userDetails.mobile_number }}</h2>
                <p>Mobile Number</p>
            </ion-label>
        </ion-item>

        <ion-item (click)="updateBirthDate()">
            <ion-label>
                <h2>{{ userDetails.birth_date }}</h2>
                <p>Birth Date</p>
            </ion-label>
        </ion-item>

        <ion-item (click)="updateUserGender()">
            <ion-label>
                <h2>{{ userDetails.gender }}</h2>
                <p>Gender</p>
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label>
                <h2>{{ userDetails.is_active }}</h2>
                <p>Is Active</p>
            </ion-label>
        </ion-item>

        <ion-item (click)="updateUserBio()">
            <ion-label class="ion-text-wrap">
                <h2>{{ userDetails.bio }}</h2>
                <p>Bio</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header>
            <ion-label color="secondary"> Setting </ion-label>
        </ion-list-header>

        <ion-item lines="full">
            <ion-icon slot="start" name="moon"></ion-icon>
            <ion-label> Toggle Dark Theme </ion-label>
            <ion-toggle id="themeToggle" slot="end"></ion-toggle>
        </ion-item>

        <ion-item lines="full" (click)="logOut()">
            <ion-icon slot="start" name="log-out"></ion-icon>
            <ion-label>Log out</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
