<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title *ngIf="selectedOrder">Order id #{{ selectedOrder.row_id }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div *ngIf="can_show_map">
        <div #map id="map"></div>

        <!-- change order  -->
        <div class="change_order_select">
            <ion-item slot="end">
                <ion-label>Orders</ion-label>
                <ion-select (ionChange)="updateMap()" [(ngModel)]="selectedOrder">
                    <ion-select-option *ngFor="let order of allOrdersOnWay" [value]="order">Order id {{ order.row_id }}</ion-select-option>
                </ion-select>
            </ion-item>
        </div>

        <!-- order actions holder -->
        <div class="order_actions">
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle *ngIf="selectedOrder.pay_status === 'pending'" color="danger">{{ selectedOrder.pay_type }} ( {{ selectedOrder.pay_status }})</ion-card-subtitle>
                    <ion-card-subtitle *ngIf="selectedOrder.pay_status === 'paid'" color="success">{{ selectedOrder.pay_type }} ( {{ selectedOrder.pay_status }})</ion-card-subtitle>
                    <ion-card-title> &#x20B9; {{ selectedOrder.amount_paid }} </ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    <!-- user info -->
                    <ion-item>
                        <ion-avatar slot="start"><img [src]="selectedOrder.user_profile_picture" alt="" srcset="" /></ion-avatar>
                        <ion-label>
                            <h3>{{ selectedOrder.user_full_name }}</h3>
                            <p>+91 {{ selectedOrder.user_mobile_number }}</p>
                        </ion-label>
                        <ion-fab-button (click)="callNumber(selectedOrder.user_mobile_number)" color="tertiary" size="small" slot="end">
                            <ion-icon name="call"></ion-icon>
                        </ion-fab-button>
                    </ion-item>

                    <!-- deliver button -->
                    <div class="deliver_button">
                        <ion-button (click)="deliverOrderNow()" expand="full" color="primary">Deliver Now</ion-button>
                    </div>
                </ion-card-content>
            </ion-card>
        </div>
    </div>

    <!-- empty screen -->
    <div *ngIf="!can_show_map" class="empty_screen">
        <div><img src="../../../../assets/icon/street-map.png" alt="" srcset="" /></div>
        <div>
            <ion-text color="warning"> <h3>Nothing here</h3> </ion-text>
        </div>
        <div>
            <ion-text><p>Once you will be on the road with order that will appear here</p></ion-text>
        </div>
    </div>
</ion-content>
