<ion-list>
    <ion-list-header>
        <ion-label>Pending Orders </ion-label>
    </ion-list-header>

    <ion-item-sliding *ngFor="let pending_order of pending_arr; trackBy: pendingOrderTracker">
        <ion-item>
            <ion-avatar slot="start">
                <img src="../../../../../assets/icon/order-food.png" alt="order-food" srcset="" />
            </ion-avatar>
            <ion-label>
                <h2>New order recieved</h2>
                <p>{{ pending_order.food_order_pay_type }}</p>
            </ion-label>
            <ion-note slot="end"> {{ pending_order.food_order_date_created | date: 'short' }} </ion-note>
        </ion-item>

        <ion-item-options side="start">
            <ion-item-option disabled="true" (click)="changeOrderStatus('canceled', pending_order.food_order_row_uuid)" color="danger">
                <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-item-option>
            <ion-item-option (click)="openOrderDetailPage(pending_order)" color="warning">
                <ion-icon slot="icon-only" name="list"></ion-icon>
            </ion-item-option>
        </ion-item-options>

        <ion-item-options side="end">
            <ion-item-option (click)="showOrderLocation(pending_order.delivery_address_latitude, pending_order.delivery_address_longitude)" color="tertiary">
                <ion-icon slot="icon-only" name="location"></ion-icon>
            </ion-item-option>
            <ion-item-option disabled="true" (click)="changeOrderStatus('order confirmed then cooking', pending_order.food_order_row_uuid)" color="success">
                <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
            </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
</ion-list>
