<ion-header translucent>
    <ion-toolbar>
        <ion-title>Update Kitchen</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()"><ion-icon name="close"></ion-icon></ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <!-- upload the profile picture of the kitchen -->
    <div class="upload_profile_picture">
        <img [src]="kitchen_profile_picture" alt="" srcset="" />
        <div class="file_chooser">
            <ion-fab-button color="secondary"> <ion-icon name="aperture-sharp"></ion-icon> </ion-fab-button>
        </div>
    </div>

    <div class="kitchen_details">
        <ion-list>
            <ion-list-header>
                <ion-label color="secondary">Kitchen Details</ion-label>
                <ion-button *ngIf="can_show_save_button_general_detail" (click)="updateKitchenGeneral()">Save</ion-button>
            </ion-list-header>

            <ion-item>
                <ion-label>Kitchen Name</ion-label>
                <ion-input (ionFocus)="kitchenGeneralDetailsFocused()" inputmode="text" [(ngModel)]="kitchen_name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Opening Time</ion-label>
                <ion-datetime (ionFocus)="kitchenGeneralDetailsFocused()" [(ngModel)]="opening_time" display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Closing Time</ion-label>
                <ion-datetime (ionFocus)="kitchenGeneralDetailsFocused()" [(ngModel)]="closing_time" display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Open Week List</ion-label>
                <ion-select (ionFocus)="kitchenGeneralDetailsFocused()" [(ngModel)]="open_week_list" multiple>
                    <ion-select-option value="1">Sunday</ion-select-option>
                    <ion-select-option value="2">Monday</ion-select-option>
                    <ion-select-option value="3">Tuesday</ion-select-option>
                    <ion-select-option value="4">Wednesday</ion-select-option>
                    <ion-select-option value="5">Thursday</ion-select-option>
                    <ion-select-option value="6">Friday</ion-select-option>
                    <ion-select-option value="7">Saturday</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>{{kitchen_radius}} KM</ion-label>
                <ion-range (ionFocus)="kitchenGeneralDetailsFocused()" [(ngModel)]="kitchen_radius" min="10" max="20" step="1" snaps="true"></ion-range>
            </ion-item>
        </ion-list>
    </div>

    <!-- kitchen login info -->
    <div class="kitchen_login_info">
        <ion-list>
            <ion-list-header>
                <ion-label color="secondary">Kitchen Login Details</ion-label>
                <ion-button *ngIf="can_show_save_button_login_detail" (click)="updateKitchenLoginDetail()">Save</ion-button>
            </ion-list-header>

            <ion-item>
                <ion-label>Kitchen Userid</ion-label>
                <ion-input (ionFocus)="kitchenLoginDetailFocused()" inputmode="text" [(ngModel)]="kitchen_user_id"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Kitchen Password</ion-label>
                <ion-input (ionFocus)="kitchenLoginDetailFocused()" inputmode="text" [(ngModel)]="kitchen_password"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Confirm Password</ion-label>
                <ion-input (ionFocus)="kitchenLoginDetailFocused()" inputmode="text" [(ngModel)]="kitchen_password_again"></ion-input>
            </ion-item>
        </ion-list>
    </div>

    <!-- kitchen ofer details -->
    <div class="kitchen_offer_details">
        <ion-list>
            <ion-list-header>
                <ion-label color="secondary">Offer details</ion-label>
                <ion-button *ngIf="can_show_save_button_offer_detail" (click)="updateKitchenOfferDetails()">Save</ion-button>
            </ion-list-header>

            <ion-item>
                <ion-label> Offer (%) </ion-label>
                <ion-input (ionFocus)="kitchenOfferDetailFocused()" [(ngModel)]="offer_percentage" inputmode="numeric"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Start Date</ion-label>
                <ion-datetime (ionFocus)="kitchenOfferDetailFocused()" [(ngModel)]="offer_start_date" value="1990-02-19" placeholder="Select Date"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Start Time</ion-label>
                <ion-datetime (ionFocus)="kitchenOfferDetailFocused()" [(ngModel)]="offer_start_time" display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>End Date</ion-label>
                <ion-datetime (ionFocus)="kitchenOfferDetailFocused()" [(ngModel)]="offer_end_date" value="1990-02-19" placeholder="Select Date"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>End Time</ion-label>
                <ion-datetime (ionFocus)="kitchenOfferDetailFocused()" [(ngModel)]="offer_end_time" display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
            </ion-item>
        </ion-list>
    </div>

    <div class="address_information">
        <ion-list>
            <ion-list-header>
                <ion-label color="secondary"> Address Information </ion-label>
                <ion-button *ngIf="can_show_save_button_address_detail" (click)="updateKitchenAddress()">Save</ion-button>
            </ion-list-header>

            <!-- extract location from gps-->
            <ion-item (click)="searchLocation()">
                <ion-avatar slot="start"> <img src="../../../../../assets/icon/map.png" alt="" srcset="" /> </ion-avatar>
                <ion-label> Search Location </ion-label>
                <ion-button slot="end"> search </ion-button>
            </ion-item>

            <ion-item>
                <ion-label> Street </ion-label>
                <ion-input (ionFocus)="kitchenAddressDetailFocused()" [(ngModel)]="street" inputmode="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label> Pincode </ion-label>
                <ion-input (ionFocus)="kitchenAddressDetailFocused()" [(ngModel)]="pincode" inputmode="number"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label> City </ion-label>
                <ion-input (ionFocus)="kitchenAddressDetailFocused()" [(ngModel)]="city" inputmode="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label> State </ion-label>
                <ion-input (ionFocus)="kitchenAddressDetailFocused()" [(ngModel)]="state" inputmode="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label> Country </ion-label>
                <ion-input (ionFocus)="kitchenAddressDetailFocused()" [(ngModel)]="country" inputmode="text"></ion-input>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
