ion-card {
    position: relative;
}

.ion_card_actions {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}

.offers {
    position: absolute;
    top: 0;
    right: 0;
}

.icon_right_margin {
    margin-right: 5px;
}
