<ion-content [fullscreen]="true">
    <div class="order_done">
        <div><img src="../../../../../assets/icon/confirmation.png" alt="" srcset="" /></div>
        <div>
            <ion-text color="success"> <h2>Order received</h2> </ion-text>
            <ion-text color="dark"> <h6>Thankyou for eating with us</h6> </ion-text>
        </div>
        <div>
            <ion-card>
                <ion-card-header>
                    <ion-card-title>Order details</ion-card-title>
                </ion-card-header>
                <ion-card-content *ngIf="order">
                    <div class="order_info_item">
                        <div><b>Order id</b></div>
                        <div>
                            <code>{{ order.row_id }}</code>
                        </div>
                    </div>

                    <div class="order_info_item">
                        <div><b>Transaction id</b></div>
                        <div>
                            <code>{{ order.row_uuid }}</code>
                        </div>
                    </div>

                    <div class="order_info_item">
                        <div><b> Date </b></div>
                        <div>
                            <code>{{ order.date_created | date: 'short' }}</code>
                        </div>
                    </div>
                </ion-card-content>
            </ion-card>
        </div>
        <div>
            <ion-button (click)="closeModal()" color="secondary">Back to home</ion-button>
        </div>
    </div>
</ion-content>
