<ion-content [fullscreen]="true">
    <div class="order_done">
        <div><img src="../../../../../assets/icon/confirmation.png" alt="" srcset="" /></div>
        <div>
            <ion-text color="success"> <h2>Order received</h2> </ion-text>
            <ion-text color="dark"> <h6>Thank you for eating with us</h6> </ion-text>
        </div>
        <div>
            <ion-card>
                <ion-card-header>
                    <ion-card-title>Order details</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <div class="order_info_item">
                        <div><b>Lorem ipsum dolor sit.</b></div>
                        <div><code>Lorem ipsum dolor sit amet consectetur.</code></div>
                    </div>

                    <div class="order_info_item">
                        <div><b>Lorem ipsum dolor sit.</b></div>
                        <div><code>Lorem ipsum dolor sit amet consectetur.</code></div>
                    </div>

                    <div class="order_info_item">
                        <div><b>Lorem ipsum dolor sit.</b></div>
                        <div><code>Lorem ipsum dolor sit amet consectetur.</code></div>
                    </div>

                    <div class="order_info_item">
                        <div><b>Date</b></div>
                        <div><code> 2020/02/23 03:45 AM </code></div>
                    </div>
                </ion-card-content>
            </ion-card>
        </div>
        <div>
            <ion-button color="secondary">Back to home</ion-button>
        </div>
    </div>
</ion-content>
