<ion-list>
    <!-- section name -->
    <ion-list-header>
        <ion-label color="secondary">Menu's Variant</ion-label>
    </ion-list-header>

    <ion-item-sliding *ngFor="let menu_item of allMenuVariants">
        <ion-item [disabled]="menu_item.is_active === 'yes' ? false : true">
            <ion-badge *ngIf="menu_item.offer_percentage !== null && menu_item.offer_percentage !== 0" color="danger" slot="end">{{ menu_item.offer_percentage }}% OFF</ion-badge>
            <ion-avatar slot="start">
                <img [src]="menu_item.profile_picture" alt="" srcset="" />
            </ion-avatar>
            <ion-label>
                <h3>{{ menu_item.name }}</h3>
                <p>&#x20B9; {{ menu_item.price_per_unit }}</p>
            </ion-label>
        </ion-item>

        <ion-item-options side="start">
            <!--  delete the menu -->
            <ion-item-option [disabled]="can_edit_kitchen === 'yes' ? false : true" (click)="deactivateMenu(menu_item)" *ngIf="menu_item.is_active === 'yes'" color="danger">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
            <!-- undo the delete -->
            <ion-item-option [disabled]="can_edit_kitchen === 'yes' ? false : true" (click)="activateMenu(menu_item)" *ngIf="menu_item.is_active === 'no'" color="tertiary">
                <ion-icon slot="icon-only" name="arrow-undo"></ion-icon>
            </ion-item-option>
        </ion-item-options>

        <ion-item-options side="end">
            <!-- menu edit -->
            <ion-item-option [disabled]="can_edit_kitchen === 'yes' ? false : true" (click)="updateMenu(menu_item)" color="tertiary">
                <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
</ion-list>
