<div class="kitchen_profile">
    <img src="../../../../../assets/icon/food (13).jpg" alt="" srcset="" />
</div>

<div class="order_info">
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>COD</ion-card-subtitle>
            <ion-card-title> &#x20B9; 456.90</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            
            <div class="info_item">
                <code>Lorem ipsum dolor sit amet consectetur.</code>
                <div><b>Lorem, ipsum dolor.</b></div>
            </div>

            <div class="info_item">
                <code>Lorem ipsum dolor sit amet consectetur.</code>
                <div><b>Lorem, ipsum dolor.</b></div>
            </div>

            <div class="info_item">
                <code>Lorem ipsum dolor sit amet consectetur.</code>
                <div><b>Lorem, ipsum dolor.</b></div>
            </div>

            <div class="info_item">
                <code>Lorem ipsum dolor sit amet consectetur.</code>
                <div><b>Lorem, ipsum dolor.</b></div>
            </div>

        </ion-card-content>
    </ion-card>
</div>

<!-- item tracker -->
<div class="item_tracker">
    <div>
        <div class="icon_holder">
            <ion-fab-button color="success" size="small">
                <ion-icon name="checkmark"></ion-icon>
            </ion-fab-button>
        </div>
        <div class="line_holder"></div>
    </div>
    <div>
        <div class="heading">
            <ion-text><h6>Order Placed</h6></ion-text>
        </div>
        <div class="body">
            <ion-text>
                <p>Order placed on <b> 12/02/2021 12:34 AM </b></p>
            </ion-text>
        </div>
    </div>
</div>

<div class="item_tracker">
    <div>
        <div class="icon_holder">
            <ion-fab-button color="success" size="small">
                <ion-icon name="checkmark"></ion-icon>
            </ion-fab-button>
        </div>
        <div class="line_holder"></div>
    </div>
    <div>
        <div class="heading">
            <ion-text><h6>Order confirmed</h6></ion-text>
        </div>
        <div class="body">
            <p>Order confirmed by the kitchen owner at <b> 12/02/2021 12:34 AM </b> . Your OTP to receive the order by the delivery boy is <b>25436</b></p>
        </div>
    </div>
</div>

<div class="item_tracker">
    <div>
        <div class="icon_holder">
            <ion-fab-button color="light" size="small">
                <ion-icon name="checkmark"></ion-icon>
            </ion-fab-button>
        </div>
        <div class="line_holder"></div>
    </div>
    <div>
        <div class="heading">
            <ion-text><h6>Cooking</h6></ion-text>
        </div>
        <div class="body">
            <p>Your order is being cooked please seat tight and make yourself ready</p>
        </div>
    </div>
</div>

<div class="item_tracker">
    <div>
        <div class="icon_holder">
            <ion-fab-button color="light" size="small">
                <ion-icon name="checkmark"></ion-icon>
            </ion-fab-button>
        </div>
        <div class="line_holder"></div>
    </div>
    <div>
        <div class="heading">
            <ion-text><h6>Picked Up</h6></ion-text>
        </div>
        <div class="body">
            <p>Your order is received by the delivery boy.</p>
            <ion-item>
                <ion-avatar slot="start"><img src="../../../../../assets/icon/food (8).jpg" alt="" srcset="" /></ion-avatar>
                <ion-label>
                    <h2>Prasenjeet Symon</h2>
                    <p>+91 8083371360</p>
                </ion-label>
                <ion-chip color="secondary" slot="end">
                    <ion-icon name="call"></ion-icon>
                    <ion-label>Call</ion-label>
                </ion-chip>
            </ion-item>
        </div>
    </div>
</div>

<div class="item_tracker">
    <div>
        <div class="icon_holder">
            <ion-fab-button color="light" size="small">
                <ion-icon name="checkmark"></ion-icon>
            </ion-fab-button>
        </div>
        <div class="line_holder"></div>
    </div>
    <div>
        <div class="heading">
            <ion-text><h6>On it's way</h6></ion-text>
        </div>
        <div class="body">
            <p>Your order is on it's correct path</p>
        </div>
    </div>
</div>

<div class="item_tracker">
    <div>
        <div class="icon_holder">
            <ion-fab-button color="light" size="small">
                <ion-icon name="checkmark"></ion-icon>
            </ion-fab-button>
        </div>
        <div class="line_holder"></div>
    </div>
    <div>
        <div class="heading">
            <ion-text><h6>Delivered</h6></ion-text>
        </div>
        <div class="body">
            <p>Your order delivered to you succesfully</p>
        </div>
    </div>
</div>
