<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Cart</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- for ios only header  -->
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Cart</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card>
        <img src="../../../../assets/icon/food (5).jpg" />
        <ion-card-header>
            <ion-card-subtitle>Lorem ipsum dolor sit amet consectetur.</ion-card-subtitle>
            <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div *ngFor="let item of menus_items" class="food_item">
                <div>
                    <div><b>Lorem ipsum dolor sit.</b> <ion-icon name="close"> </ion-icon> <i>4</i></div>
                    <div>&#x20B9; 145.67</div>
                </div>
                <div><b>Instruction</b> : <code> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo aut consequatur incidunt! </code></div>
            </div>
        </ion-card-content>

        <div class="total_summation">
            <div></div>
            <div>
                <div class="final_item">
                    <div><b>Menu total :</b></div>
                    <div>&#x20B9; 456.89</div>
                </div>
                <div class="final_item">
                    <div><b>Discount :</b></div>
                    <div>&#x20B9; 456.89</div>
                </div>
                <div class="final_item">
                    <div><b>Delivery charge :</b></div>
                    <div>&#x20B9; 6.89</div>
                </div>
                <div class="final_item">
                    <div><b> Tax :</b></div>
                    <div>&#x20B9; 60.89</div>
                </div>

                <div class="amount_payable">
                    <div>
                        <b> <i>Amount Payable</i> :</b>
                    </div>
                    <div>&#x20B9; 456.89</div>
                </div>
            </div>
        </div>

        <div class="card_actions">
            <ion-button color="success"> Checkout </ion-button>
        </div>
    </ion-card>
</ion-content>
