.menu_food_profile_picture {
    margin: 0px 0px 0px 0px;
    position: relative;
}

.add_menu {
    position: absolute;
    bottom: -20px;
    right: 0;
    padding: 0px 20px 0px 0px;
    z-index: +2;
}
