<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-searchbar></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- found menu item -->
    <ion-list>
        <ion-list-header>
            <ion-label color="secondary"> 12 Menus found </ion-label>
        </ion-list-header>
        <ion-item *ngFor="let item of menu_found">
            <ion-avatar slot="start"><img src="../../../../assets/icon/food (1).jpg" alt="" srcset="" /></ion-avatar>
            <ion-label> Lorem ipsum dolor sit. </ion-label>
            <ion-icon slot="end" name="chevron-forward"></ion-icon>
        </ion-item>

        <!-- kitchen founds -->
        <ion-list-header>
            <ion-label color="secondary">340 kitchens found</ion-label>
        </ion-list-header>

        <ion-item *ngFor="let item of kitchens_found">
            <ion-card>
                <img src="../../../../assets/icon/food (10).jpg" />
                <ion-card-header>
                    <ion-card-subtitle>Destination</ion-card-subtitle>
                    <ion-card-title>Madison, WI</ion-card-title>
                </ion-card-header>
                <ion-card-content> Lorem, ipsum dolor., Lorem, ipsum., Lorem ipsum dolor sit amet. </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>
</ion-content>
