<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar debounce="1000" #seachTerm (ionChange)="search(seachTerm.value)"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- found menu item -->
    <ion-list>
        <ion-list-header *ngIf="menuResults.length !== 0">
            <ion-label color="secondary"> {{ menuResults.length }} Menus found </ion-label>
        </ion-list-header>
        <ion-item (click)="navKitchenMenu(item)" *ngFor="let item of menuResults">
            <ion-avatar slot="start"><img [src]="item.profile_picture" alt="" srcset="" /></ion-avatar>
            <ion-label> {{ item.name }} </ion-label>
            <ion-icon slot="end" name="chevron-forward"></ion-icon>
        </ion-item>

        <!-- kitchen founds -->
        <ion-list-header *ngIf="kitchenResult.length !== 0">
            <ion-label color="secondary">{{ kitchenResult.length }} kitchens found</ion-label>
        </ion-list-header>

        <ion-item (click)="navKitchen(item)" *ngFor="let item of kitchenResult">
            <ion-card>
                <img [src]="item.profile_picture" />
                <ion-card-header>
                    <ion-card-subtitle>{{ item.address }}</ion-card-subtitle>
                    <ion-card-title>{{ item.kitchen_name }}</ion-card-title>
                </ion-card-header>
                <ion-card-content> </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>
</ion-content>
