<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="getCurrentLocation()"> <ion-icon name="location"></ion-icon></ion-button>
        </ion-buttons>
        <ion-title>Kitchen Location</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal(true)"> <ion-icon name="checkmark-circle"></ion-icon></ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal(false)"> <ion-icon name="close-outline"></ion-icon> </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar #searchInput></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div #googleMap id="map"></div>

    <div id="infowindow-content">
        <span id="place-name" class="title"></span><br />
        <span id="place-address"></span>
    </div>
</ion-content>
