<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Add comment</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="addComment()" color="secondary">Save</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()"> <ion-icon name="close-outline"></ion-icon> </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-item>
        <ion-textarea [(ngModel)]="comment" rows="6" cols="20" placeholder="Enter any comment here..."></ion-textarea>
    </ion-item>
</ion-content>
