<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Order history</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- for ios only header  -->
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Order history</ion-title>
        </ion-toolbar>
    </ion-header>

    <!-- list all the orders  -->

    <ion-list *ngFor="let order_his of orderHistory">
        <ion-list-header>
            <ion-label> {{ order_his.date }} </ion-label>
        </ion-list-header>

        <!-- placed -->
        <ion-item (click)="navFullDetails(order)" *ngFor="let order of order_his.data">
            <ion-avatar slot="start"><img src="../../../../assets/icon/food (11).jpg" alt="" srcset="" /></ion-avatar>
            <ion-label>
                <h2>Order id #{{ order.row_id }}</h2>
                <p>
                    &#x20B9; {{ order.amount_paid }} <b>( {{ order.pay_type }} )</b>
                </p>
            </ion-label>
            <ion-chip *ngIf="order.delivery_status === 'placed'" color="warning" slot="end">
                <ion-icon name="time"></ion-icon>
                <ion-label>Placed</ion-label>
            </ion-chip>
            <ion-chip *ngIf="order.delivery_status === 'cooking'" color="warning" slot="end">
                <ion-icon name="cafe"></ion-icon>
                <ion-label>Cooking</ion-label>
            </ion-chip>
            <ion-chip *ngIf="order.delivery_status === 'canceled'" color="danger" slot="end">
                <ion-icon name="close"></ion-icon>
                <ion-label>Canceled</ion-label>
            </ion-chip>
            <ion-chip *ngIf="order.delivery_status === 'on_way'" color="secondary" slot="end">
                <ion-icon name="bicycle"></ion-icon>
                <ion-label>On it's way</ion-label>
            </ion-chip>
            <ion-chip *ngIf="order.delivery_status === 'delivered'" color="success" slot="end">
                <ion-icon name="checkmark-done"></ion-icon>
                <ion-label>Delivered</ion-label>
            </ion-chip>
        </ion-item>
    </ion-list>
</ion-content>
