/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 100%;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
    color: black;
}

#map #infowindow-content {
    display: inline;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}
